*{
    box-sizing: border-box;
}
body{
    color: deeppink;
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    width: 70%;
    margin: 0 auto;
    border: 2px solid #f1f  ;
    color: #333;
    padding: 0;
}

.cabecera{
    text-align: center;
    background-color: aqua;
}

h1{
    margin: 0;
    display: inline-block;
    margin-right: 20px;
}

.footer{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid#f1f;
    background-color: aqua;
}

.footer p{
    font-size: 20px;
    padding-bottom:0px ;
    color: #333;
}