body{
    color: deeppink;
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    width: 70%;
    margin: 0 auto;
    border: 2px solid #f1f  ;
    color: #333;
}

.cabecera{
    text-align: center;
}